body {
    background-image:url(imagenes/suga.jpg);
}

/* id="lupa"    cuando sea un solo elemento*/

#Lupa {
    color: purple;
}

#google {
    width:400px;
    height: 200px;
}
/* class="icono"   cuando sea para uno o más elementos*/
.icono {
    width: 30px;
    height: 30px;
}

header ul {
    list-style-type: none; 
    display: flex;
    justify-content: end;
    align-items: center;
}

header ul li {
    margin: 10px; 
}

main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caja-buscador {
    display: flex;
}

footer ul {
    list-style-type: none; 
    display: flex;
    align-items: center;
}

footer ul li {
    margin: 10px; 
}

#opciones{
    display: flex;
}